<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gleb Blog</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header >
        <div class="color">
        <div class="logo"><h1>GLEB BLOG LOGED<h1></div>

      <div class="Profile">
        <div style="display:grid;">
            
           <div><button onclick="logout()" class="exit">logout</button></div>
            <div><button onclick="profile()">MyProfile</button></div>
            <div><button onclick="settings()">Settings</button></div>
        </div>
        <div style="text-align: center;">
            <div id="username"></div>
            
            <div class="image" ><img style="object-fit: cover;" width="70px" height="70px" id="profile" ></div>
        </div>
      </div>
      
    </div>
    
    </header>
   

    <main>
        <hr>
       <hr>
       <%if(newUsers){%>
        <div class="d-none d-lg-block" style="width: 100%; height: 0;  position: absolute; background-color: aliceblue; margin-top: 30px;" >
            
            <aside class="sideBar">
                <b >New Users</b>
             <ul id="users">
                
                <%for(let i = 0; i < newUsers.length;i++){%>
                    <li style=" margin-right: 30%;">
                        <p><%=newUsers[i].nickname%></p>
                       <a href="/userProfile<%=newUsers[i].user_id%>/page1">
                         <img src="<%=newUsers[i].profile_picture%>" width="70px" height="70px" style="object-fit: cover;"> </a>
                    </li>
            <%}%>
                 
             </ul>
            </aside>   
             </div>
           
         <%}%>

       <div class="createPostBackGround">
        
        <div class="createPost">
            <label>Its Time To Make Your Own Blog</label>
            
            <button onclick="createPost()">create post</button>
        </div>
    </div>
    <div class="postList ms-md-0 ms-lg-5 ">
            
        <ul>
            <%if(posts[0]) {%>
            <li>
                <div class="post">
                    <a href="/postN<%=posts[0].post_id%>">
                   <img style="object-fit:cover;" height="100%" width="100%" src=<%= posts[0].image_url %>> 
                </a>
                </div>

                <p> "<%=posts[0].post_name %>" </p>
                <hr align="left" class="posthr">
                
            </li>
            <%}%>


            <%if(posts[1]) {%>
            <li>
                <div class="post">
                    <a href="/postN<%=posts[1].post_id%>">
                   <img style="object-fit:cover;" height="100%" width="100%" src=<%= posts[1].image_url %>> 
                </a>
                </div>

                <p> "<%=posts[1].post_name %>" </p>
                <hr align="left" class="posthr">
                
            </li>
            <%}%>


            <%if(posts[2]) {%>
            <li>
                <div class="post">
                    <a href="/postN<%=posts[2].post_id%>">
                   <img style="object-fit:cover;" height="100%" width="100%" src=<%= posts[2].image_url %>> 
                </a>
                </div>

                <p> "<%=posts[2].post_name %>" </p>
                <hr align="left" class="posthr">
                </a>
            </li>
            <%}%>


            <%if(posts[3]) {%>
            <li>
                <a href="/postN<%=posts[3].post_id%>">
                <div class="post">
                    
                   <img style="object-fit:cover;" height="100%" width="100%"  src=<%= posts[3].image_url %>> 
                
                </div>
            </a>
                <p> "<%=posts[3].post_name %>" </p>
            
                <hr align="left" class="posthr">
            </li>
            <%}%>



        </ul>
    </div>
</main>



<%if(posts[3]) {%>
    <%if(page>1){%>

    <button style="width: 30%; margin-left: 60px;" onclick="backPage()">BACK</button>
    <%}%>
    <button onclick="nextPage()" style="width: 30%; margin-left: 60px;">NEXT</button>

    <%} else{ %>

        <p style="margin-left: 132px;">here no more post ;(</p>
        <%if(page>1){%>

            <button style="width: 500px; margin-left: 40px;"onclick="backPage()">BACK</button>
            <%}%>
    <%}%>
        
    <script>
         const nextPage=()=>{
            const page = Number('<%=page%>') + 1
            
            
            const hrefNextPage ="page" + (page)
            
            location.href=hrefNextPage


        }
        const profile=()=>{
            location.href="/userProfile<%=user.id%>/page1"
        }
        const backPage=()=>{
            const page = '<%=page%>' - 1

            const hrefBackPage ="page" + (page)
            
            location.href=hrefBackPage
        }
        const getUser = ()=>
        {
            
                document.getElementById("username").innerText= '<%=user.login%>'
                document.getElementById("profile").src = '<%=user.imgUrl%>'

            
        }
        getUser()

        const createPost=()=>{
            window.location.href="/createPost"

        }

       const logout=()=>{
        fetch("/logout",{
            method:"DELETE"
            
        }).then(answer=>{
            document.location.reload()
        })}

       
        const settings= ()=>{
            window.location.href="/settings"
        }
        
    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>