<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="color">
        <div class="logo"><h1>"<%=data.post_name%>" by <a href="/userProfile<%=data.user_id%>/page1"><%=username %></a> </br> <%=date%> <h1></div>

      <div class="Profile">
        <div>
            <button onclick="goBack()">mainPage</button>
            <button>about?</button>
        </div>
        <!-- <div class="image" ><img  width="70px" src="https://www.partyrama.co.uk/wp-content/plugins/partyrama-ecommerce-pro/includes/pro-images/prod-img/default/shreks-mini-cardboard-cutout-product-image.jpg"></div> -->

      </div>
      
    </div>
    
    </header>
    <main>

      <div style="width: 1100px; background-color: bisque;"><%-data.textContent%></div>


    </main>

    <script>
        
        const goBack = () =>{
            location.replace("/main")
        }

    </script>
</body>
</html>