<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <header>
        <div class="color">
        <div class="logo"><h1>"<%=data.post_name%>" by <a href="/userProfile<%=data.user_id%>/page1"><%=username %></a> </br> <%=date%> <h1></div>

      <div class="Profile">
        <div>
            <button onclick="goBack()">mainPage</button>
            <button>about?</button>
        </div>
        <!-- <div class="image" ><img  width="70px" src="https://www.partyrama.co.uk/wp-content/plugins/partyrama-ecommerce-pro/includes/pro-images/prod-img/default/shreks-mini-cardboard-cutout-product-image.jpg"></div> -->

      </div>
      
    </div>
    
    </header>
    <main>

      <div style="width: 1100px; background-color: bisque;"><%-data.textContent%></div>


    </main>
    <%if(user){%>
    <%if(user.id == data.user_id){%>
      
      <button class="exit" onclick="deletePost()">this is your post soo... you can delete this</button>
      <script>
        const deletePost=()=>{
          fetch("/deletePost",{
            method:"DELETE",
            headers:{"content-type":"application/json"},
            body:JSON.stringify({
              postToDelete:Number("<%=data.post_id%>"),
              
            })
          })
          .then(answer=> answer.text())
          .then(answer=>{
            if(answer){
              goBack()
            }
            else
            alert("something goes wrong")
          })

        }
      </script> <br/><br/>
      <%}%>
      <textarea id="comment"></textarea> <br> <button onclick="leaveComment()">leave comment</button>
      <%}%>
      <h3>comments</h3>
      <ul style="width: 700px; background-color: beige;">
        <%if(comments[0]){%>
          
          <%for(let i = 0; i < comments.length;i++){%>
        <li style="display: flex;">
          <a href="/userProfile<%=comments[i].user_id%>/page1">
          <img width="40px" height="40px" src="<%=comments[i].profile_picture%>">
          <div>
            <b><%=comments[i].nickname%></b>
            <p><%=comments[i].comment%></p>
          </a>
          
          </div>
        </li>
        <hr width="90%">
       <%}}else{%>
         there are no comments here ...

        <%}%>
      </ul>
    <script>
        const leaveComment = () =>{
          const commentId = Number("<%=comments.length%>")+1
          console.log(commentId)
          const comment = document.getElementById("comment").value
          if(comment){
          fetch("/leaveComment",{
            method:"POST",
            headers:{"content-type":"application/json"},
            body:JSON.stringify({
              postId:"<%=postId%>",
              comment:comment,
              commentId:commentId
            })

          }).then(anser=>{
            location.reload()
            location.reload()
          })
        }
          else alert("bro your comment empty")
        }
        const goBack = () =>{
            location.replace("/main")
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>